* {
	box-sizing: border-box;
}

body {
	background: url("http://www.toca-ch.com/data/walls/175/28270307.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}
h3 {
	margin-top: 20px;
}

h3, h5 {
	font-weight: 500;
	color: white;
}

form {
	margin: 10px;
}

/* Default button style */
.btn-2c:hover {
    box-shadow: 0 5px #ab3c3c;
    top: 3px;
}

.btn-2c {
    border-radius: 7px;
}

.btn-2 {
    box-shadow: 0 7px #ab3c3c;
 }

.button {
	text-decoration: none;
    border: none;
    background: #cb4e4e;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    min-width: 150px;
    padding: 10px 10px;
    display: inline-block;
    margin: 15px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    font-size: 18px;
    position: relative;
}

.btn-2c:active {
	box-shadow: none;
	top: 7px;
}

/* Styling dynamically generated buttons */
.giphyButtons {
	font-size: 15px;
	min-width: 130px;
	background: #17aa56;
}

#buttonDisplay>.btn-2c:hover {
	box-shadow: 0 5px #0a833d;
}

#buttonDisplay>.btn-2c {
	box-shadow: 0 7px #0a833d;
}

#buttonDisplay>.btn-2c:active {
	box-shadow: none;
}

.button, #searchPhrase {
   outline: none !important;
}

/* Styling input box */
#searchPhrase {
	width: 30%;
	margin-top: 15px;
	height: 45px;
	top: 10px;
	border-radius: 8px;
	font-size: 20px;
	color: #ff8002;
	font-weight: 600;
}

#searchPhrase:focus {
	border-style: solid;
    border-width: 3px 1px 1px 3px;
    border-color: orange;
}

/* Styling individual spans */
#yellow {
	color: #f7a04a;
}

#red {
	color: #ff6666;
}

.green {
	color: #29e87b;
}

span {
	font-size: 22px;
}

/* Dynamically generated gif img style */
.giphyDiv {
	background-color: rgba(0,0,0,0.7);
	display: inline-block;
	color: white;
	font-size: 22px;
	margin: 15px;
	border: 7px solid white;
}

.giphyDiv>p {
	margin-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
}

.giphyImage {
	max-height: 180px;
	max-width: 280px;
}

/* Style for prompts and notifications */
#message {
	margin: 10px;
	margin-top: 15px;
	display: none;
	font-size: 23px;
	font-weight: 700;
	color: white;
}

#important {
	color: #ffff84;
	font-size: 26px;
}

#duplicatePrompt {
	display: none;
	color: white;
}

@media screen and (max-height: 700px) {
	/* Styling input box */
	#searchPhrase {
		margin-top: 5px;
	}

	.button {
	    padding: 10px 10px;
	    margin: 10px 15px;
	}

	/* message style */
	#message {
		margin: 10px;
		font-size: 20px;
	}

	#important {
		font-size: 22px;
	}

	h3, h5 {
		font-weight: 700;
	}
}

@media (min-width: 1281px) {
  
	
	
  }
  
  /* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
	
	
	
  }
  
  /* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
	
	
  }
  
  /* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	
	
	
  }
  
  /* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
	

	
  }
  
  /* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
	
	
	
  }